.preview_data {
    overflow: hidden;
}

.preview_data span {
    display: block;
    float: left;
    width: 10%;
    padding-left: .4em;
    font-weight: bold;
}

.progress {
    margin-top: 1em;
    margin-bottom: 5px;
}

.preview_data .preview_percentage {
    float: right;
    padding: 10px 0 0 10px;
}

h2 {
    font-size: 16px;
    line-height: 36px;
}

.page-header {
   padding: 60px 0;
   margin-bottom: 30px;     
}

.page-header h1 {
  margin-bottom: 0;
  font-size: 2.9em;
  line-height: 1.6;
  letter-spacing: -1px;
  color: inherit;
}

.page-header p {
  font-size: 1.3em;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

p {
    margin: 0 0 9px;
}
