@import url(http://fonts.googleapis.com/css?family=Schoolbell);

body {
    background: url('../images/cork-bg.png') repeat left top;
}

.span3.stipso_item {
    min-height: 440px;
    position: relative;
    margin-bottom: 20px;
}

.container_item {
    background: url('../images/breed-bg.png') no-repeat left top;
    width: 100%;
    height: 229px;
}

.container_item p {
    margin: 0;
    padding: 8px 0 0 10px;
    text-align: center;
}

.decoration {
    background: url('../images/decoration.png') no-repeat;
    height: 220px;
    width: 90px;
    display: block;
    position: absolute;
    top: 1em;
    left: 46%;
}

.preview_chart {
    background: url('../images/post-it.png') no-repeat left top;
    width: 80%;
    min-height: 197px;
    position: absolute;
    top: 48%;
    left: 1%;
    z-index: -1;
    padding: 1em 2em 1em 1em;
    font-family: 'Schoolbell', Georgia, cursive;
    max-width: 457px;
}

.preview_chart h2 {
    font-size: 19px;
    line-height: 23px;
    margin-top: 10px;
}

.preview_item span {
    display: block;
    float: left;
    width: 24%;
    padding: 0 7px 0 10px;
    font-weight: bold;
    text-align: right;
    font-size: 0.9em;
    color: #8C841F;
}

.progress {
    margin-top: 1em;
    margin-bottom: 5px;
    height: 12px;
}

.preview_item .preview_percentage {
    float: right;
    padding: 10px 0 0 10px;
}

.page-header h1 {
    text-transform: uppercase;
    color: #fff;
}

.page-header {
    padding-bottom: 36px;
    border-bottom: none;
    margin: 75px 0 0 0 ;
    overflow: hidden;
}

.page-header h1 {
  text-shadow: 2px 2px 4px black;
  margin-bottom: 0;
  font-size: 2.9em;
  line-height: 1.6;
  letter-spacing: -1px;
}

.page-header p {
  font-size: 1.3em;
  font-weight: 200;
  line-height: 27px;
}

#social_icons {
    margin: 0;
    list-style-type: none;
}

#social_icons li {
    margin-bottom: .5em;
}

#social_icons a {
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

p {
    margin: 0 0 9px;
}


#survey .container_item {
    background: url('../images/survey-fullwidth-bg.png') repeat-x left top;    
}

#stipso_box {
    background: url('../images/middle_separator.png') repeat-y center, url('../images/blur.png') no-repeat center,url('../images/bg_floating-box.png') repeat left top;
    width: 450px;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  
    margin: 3em auto;
    border-radius: 6px;
}

.stipso_question {
    width: 41%;
    float: left;
    background: url('../images/black_transparency.png') repeat left top;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
}

.stipso_question p {
    background: url('../images/black_transparency.png') repeat left top;
    color: #666;
    border-radius: 50px;    
    font-weight: bold;
    font-size: .9em;
    padding: .2em;
}

.stipso_question.last_question {
    float: right;
}

.stipso_row {
    padding: 1em;
    border-bottom: 4px solid rgba(0,0,0,0.4);
}

.stipso_row.last_row {
    border-bottom: none;
}

.stipso_question h2 {
    color: white;
    font-size: 1.1em;
    text-shadow: 1px 1px 0px black;
    line-height: 1.3em;
}


/*#jack_russell .container_item p {
    text-align: left;
    padding: 8px 0 0 0;
}*/

.ie7 .preview_chart h2,
.ie8 .preview_chart h2,
.ie6 .preview_chart h2 {
   margin: 1.4em 0 .3em 0;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */

.clearfix:before, .clearfix:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}

.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

.clearfix { zoom: 1; }
