@import url(http://fonts.googleapis.com/css?family=Schoolbell);

body {
    background: url('../images/cork-bg.png') repeat left top;
}

.span3.stipso_item {
    min-height: 440px;
    position: relative;
    margin-bottom: 20px;
}

.container_item {
    background: url('../images/breed-bg.png') no-repeat left top;
    width: 100%;
    height: 229px;
}

.container_item p {
    margin: 0;
    padding: 8px 0 0 10px;
    text-align: center;
}

.decoration {
    background: url('../images/decoration.png') no-repeat;
    height: 220px;
    width: 90px;
    display: block;
    position: absolute;
    top: 1em;
    left: 46%;
}

.preview_chart {
    background: url('../images/post-it.png') no-repeat left top;
    width: 80%;
    min-height: 197px;
    position: absolute;
    top: 48%;
    left: 1%;
    z-index: -1;
    padding: 1em 2em 1em 1em;
    font-family: 'Schoolbell', Georgia, cursive;
    max-width: 457px;
}

.preview_chart h2 {
    font-size: 19px;
    line-height: 23px;
    margin-top: 10px;
}

.preview_item span {
    display: block;
    float: left;
    width: 24%;
    padding: 0 7px 0 10px;
    font-weight: bold;
    text-align: right;
    font-size: 0.9em;
    color: #8C841F;
}

.progress {
    margin-top: 1em;
    margin-bottom: 5px;
    height: 12px;
}

.preview_item .preview_percentage {
    float: right;
    padding: 10px 0 0 10px;
}

.page-header h1 {
    text-transform: uppercase;
    color: #fff;
}

.page-header {
    padding-bottom: 36px;
    border-bottom: none;
    margin: 75px 0 0 0 ;
    overflow: hidden;
}

.page-header h1 {
  text-shadow: 2px 2px 4px black;
  margin-bottom: 0;
  font-size: 2.9em;
  line-height: 1.6;
  letter-spacing: -1px;
}

.page-header p {
  font-size: 1.3em;
  font-weight: 200;
  line-height: 27px;
}

#social_icons {
    margin: 0;
    list-style-type: none;
}

#social_icons li {
    margin-bottom: .5em;
}

#social_icons a {
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

p {
    margin: 0 0 9px;
}


#survey .container_item {
    background: url('../images/survey-fullwidth-bg.png') repeat-x left top;    
}

#stipso_box {
  position: relative;
  margin: 3em auto 8em; /* SOMETHING TO DELETE */
  width: 450px;
}

#stipso_content {
    background: url('../images/middle_separator.png') repeat-y center, url('../images/blur.png') no-repeat center, url('../images/bg_floating-box.png') repeat left top;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  
    border-radius: 6px;
}

#stipso_arrow {
  position: absolute;
  height: 58px;
  width: 39px;
  top: 1em;
  left: -37px;
  background: url('../images/arrow_box.png') no-repeat 1px -52px;
}

.arrow_right #stipso_arrow {
  background-position: -135px -52px;
  right: -37px;
  left: auto;
}

.arrow_top #stipso_arrow {
  background-position: -65px 1px;
  right: auto;
  height: 39px;
  width: 58px;
  left: 58px;
  top: -37px;
}

.arrow_bottom #stipso_arrow {
  background-position: -51px -143px;
  right: auto;
  height: 39px;
  width: 58px;
  left: 58px;
  top: auto;
  bottom: -36px;
}

.stipso_question {
    width: 41%;
    float: left;
    background: url('../images/black_transparency.png') repeat left top;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
}

.stipso_question p {
    background: url('../images/black_transparency.png') repeat left top;
    color: #666;
    border-radius: 50px;    
    font-weight: bold;
    font-size: .9em;
    padding: .2em;
}

.stipso_question.last_question {
    float: right;
}

.stipso_row {
    padding: 1em;
    border-bottom: 9px solid rgba(0,0,0,0.4);
}

.stipso_row.last_row {
    border-bottom: none;
}

.stipso_question h2 {
    color: white;
    font-size: 1.1em;
    text-shadow: 1px 1px 0px black;
    line-height: 1.3em;
}

/* LARGE QUESTION */

.large_question #stipso_content {
    background:  url('../images/blur.png') no-repeat center, url('../images/bg_floating-box.png') repeat left top;  
}

.large_question .stipso_row {
  border-bottom: none;  
  padding-bottom: 1em;
}

.large_question .stipso_question {
  width: 94%;
  background: none;
} 

.large_question .stipso_question h2 {
  font-size: 1.8em;
}

.large_question .btn_submit input,
.large_question .btn_submit button {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

/*  END LARGE QUESTION */


#rating_question ul {
  list-style-type: none;
  margin: 2em 0;
  padding: 0;
}

#rating_question li {
  display: inline-block;
}

#rating_question a {
  color: white;
  display: inline-block;
  width: 45px;
  height: 45px;
  float: left;
  text-indent: -9999px;
  background:  url('../images/bg_stars.png') no-repeat top left; 
}

#rating_question .empty_star a {
  background-position: top right; 
}

.stipso_question input[type="text"] {
  margin: 2em 0;
}

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
  margin: -5px;
}


/*#jack_russell .container_item p {
    text-align: left;
    padding: 8px 0 0 0;
}*/

.ie7 .preview_chart h2,
.ie8 .preview_chart h2,
.ie6 .preview_chart h2 {
   margin: 1.4em 0 .3em 0;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */

.clearfix:before, .clearfix:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}

.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

.clearfix { zoom: 1; }
